.header {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background: var(--color-white);
    border-bottom: var(--color-head-border);
  }

  .header .logo {
    margin-right: 93px;
  }