.team {
    background: var(--color-filter-button);
  }
  
  .team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    color: var(--color-dark-grey);
    margin-bottom: 10px;
  }
  
  .team-work {
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    margin-bottom: 16px;
  }
  
  .team-about {
    align-items: center;
    background-color: var(--color-white);
    border-radius: 0px 0px 4px 4px;
    padding: 0;
    margin: 0;
  }

  .team-item img {
    margin-bottom: 30px;
  }
  