body {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-grey);
    font-family: 'Roboto', sans-serif;
  }

  .hero {
    text-align: center;
    background: var(--color-footer-font);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/index_logo/header-img.jpg);
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
    color: var(--color-white);
    width: 642px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  

  .description-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--color-black);
    margin-bottom: 10px;
  }
  
  .portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--color-dark-grey);
    margin-bottom: 4px;
  }

  .footer-social-title {
    color: var(--color-white);
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  