.card-set {
    display: flex;
    /* Make a flex container multiline */
    flex-wrap: wrap;
    /* Set gap between rows and columns */
    gap: 30px;
    justify-content: center;
  }


.card-set__item {
    flex-basis: calc((100% - 150px) / 6);
  }